<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MMCClient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MMCClient.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
    <!-- Include jQuery (if not already included) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    @* <link href="~/css/styles.css" rel="stylesheet" /> *@
</head>
<body>
    <header class="mmc-color">
        <h1 class="site-heading text-center d-none d-lg-block">
            <span class="site-heading-upper text-center mb-3">Hệ thống quản lý xuất ăn bán trú cho trẻ em tiểu học</span>
            <span class="site-heading-lower">MMC System</span>
        </h1>
    </header>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase fw-bold d-lg-none" asp-controller="Home" asp-action="Index" >MMC System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="px-lg-4"><a class="nav-link " asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                    <li class=" px-lg-4"><a class="nav-link " asp-controller="Home" asp-action="About">Về chúng tôi</a></li>
                    <li class=" px-lg-4"><a class="nav-link " asp-controller="Blog" asp-action="Index">Tin tức</a></li>
                </ul>
                <div class="px-lg-4"><a class="btn button-login" style="color: #ef7714;" asp-controller="Authen" asp-action="Registrator">Đăng Ký</a></div>
                <div class="px-lg-4"><a class="btn button-login" style="color: #ef7714;" asp-controller="Authen" asp-action="Index">Đăng Nhập</a></div>
            </div>
           

        </div>
    </nav>
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-color text-footer text-center py-5">
        <div class="container"><p class="m-0 small">Copyright &copy;MMC System 2024</p></div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
