<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="SuperAdminHome">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Trang Chủ</span>
            </a>
        </li>
        <li class="nav-item nav-category">Quản lý người dùng</li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-account-circle-outline"></i> 
                <span class="menu-title">Danh sách người dùng</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
        <li class="nav-item nav-category">Giới thiệu</li>
        <li class="nav-item">
            <a class="nav-link"  asp-action="Index" asp-controller="About">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Giới thiệu về MMC</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
        <li class="nav-item nav-category">Tin tức</li>
        <li class="nav-item">
            <a class="nav-link" asp-action="BlogListSP" asp-controller="Blog">
                <i class="menu-icon mdi mdi-layers-outline"></i>
                <span class="menu-title">Danh sách tin tức</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
    </ul>
</nav>