<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="AdminHome">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Trang Chủ</span>
            </a>
        </li>
        <li class="nav-item nav-category">Quản lý người dùng</li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Class">
                <i class="menu-icon fa-solid fa-hospital-user"></i>
                <span class="menu-title">Danh sách các lớp</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="StudentList" asp-controller="Account">
                <i class="menu-icon fa-solid fa-users"></i>
                <span class="menu-title">Danh sách học sinh</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
        <li class="nav-item nav-category">Quản lý kho</li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Ingredient">
                <i class="menu-icon mdi mdi-floor-plan"></i>
                <span class="menu-title">Danh sách  nhập hàng</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
        <li class="nav-item nav-category">Quản lý thực đơn</li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Dish">
                <i class="menu-icon mdi mdi-layers-outline"></i>
                <span class="menu-title">Các món ăn</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="MealType">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Các loại bữa ăn</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="MealPlan">
                <i class="menu-icon fa-solid fa-list"></i>
                <span class="menu-title">Kế hoạch ăn uống</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Order">
                <i class="menu-icon fa-solid fa-bars"></i>
                <span class="menu-title">Đặt suất ăn</span>
                <i class="menu-arrow"></i>
            </a>
        </li>

        <li class="nav-item nav-category">Đối tác</li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Supplier">
                <i class="menu-icon mdi mdi-account-circle-outline"></i>
                <span class="menu-title">Danh sách đối tác</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
    </ul>
</nav>