@model Data.Models.About;
@{
    ViewData["Title"] = "Home Page";
}
    <section class="page-section">
    <h1 class=" mmc-color text-center site-heading-upper">Về chúng tôi</h1>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                <p class="mb-3">@Model.Description ?? ""</p>
                </div>
            </div>
        </div>
    </section>
