@model Home;
@{
    ViewData["Title"] = "Home Page";
}
<style>
    #limitedDescription {
        max-width: 400px; /* Đặt giới hạn chiều rộng theo nhu cầu của bạn */
        max-height: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        /* white-space: nowrap; */
    }
</style>
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="@Model.About.Img" alt="..." />

                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Quản lý xuất ăn bán trú</span>
                        <span class="section-heading-lower">MMC system</span>
                    </h2>
                <div ></div>

                <p class="mb-3" id="limitedDescription">@Model.About.Description</p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl btn-color" asp-controller="Home" asp-action="About">Về chúng tôi!</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                <h1 class="text-center fw-bold mmc-color">Danh sách tin tức</h1>
                    <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 my-2 card">
                        <div>abc</div>
                    </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
